<h1>REGISTER</h1>
<form action='/auth/register' method='POST'>
  <input type='text' name='firstName' placeholder='firstName' />
  <input type='text' name='lastName' placeholder='lastName' />
  <input type='text' name='email' placeholder='email' />
  <input type='text' name='password' placeholder='password' />
  <input type='submit' value='registrarse!' />
</form>
<a href='/auth/login'>ya tengo una cuenta!</a>